# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.venv/

# OS files
.DS_Store
Thumbs.db

# VS Code settings
.vscode/

# Python-specific
*.log
*.sqlite3
*.db

# Audio temp files
temp.wav

# MyPy, Pyright, Pylint, etc.
.mypy_cache/
.pyright/
.pylint.d/

# Pytest
.pytest_cache/

# Uvicorn reload files
.reload/
